{% extends 'base.html.twig' %}

{% block title %}Edit FunFact{% endblock %}

{% block body %}
    <h1>Edit FunFact</h1>

    {{ include('fun_fact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_index') }}">back to list</a>

    {{ include('fun_fact/_delete_form.html.twig') }}
{% endblock %}
