{% extends 'base.html.twig' %}

{% block title %}New FunFact{% endblock %}

{% block body %}
    <h1>Create new FunFact</h1>

    {{ include('fun_fact/_form.html.twig') }}

    <a href="{{ path('app_index') }}">back to list</a>
{% endblock %}
