{% extends 'base.html.twig' %}

{% block title %}FunFact{% endblock %}

{% block body %}
    <h1>FunFact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Content</th>
                <td>{{ fun_fact.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_index') }}">back to list</a>

    <a href="{{ path('app_fun_fact_edit', {'id': fun_fact.id}) }}">edit</a>

    {{ include('fun_fact/_delete_form.html.twig') }}
{% endblock %}
